body{
  background-color: beige;
  font-family: Nanum; 
}
nav{
  background-color: #FFB6C1;
  text-align: center;
  padding: 20px 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  margin-right: 30px;
}
nav a {
  text-decoration: none;
  color:black;
  font-family: "Arial", sans-serif;
}
.mi-imagen {
  width: 300px;
}

section{
  padding: 20px;
}
.mi-div-2{
  background-color:beige;
  padding: 5rem  5rem;
}
.mi-div-3{
  background-color:beige;
  width: 100%;
  padding: 5rem  5rem;
  display: flex;
}
.mi-div-4{
  background-color:beige;
  padding: 5rem  5rem;
  overflow: hidden;
}
.mi-div-5{
  background-color:beige;
  padding: 5rem  5rem;
}
.carousel-container {
  overflow: hidden;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 33.33%; /* Divide en 3 columnas para mostrar 3 imágenes a la vez */
  margin-right: 10px; /* Espacio entre las imágenes */
  box-sizing: border-box;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.producto-info {
  background: rgba(202, 68, 68, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.producto-info h3 {
  font-size: 18px;
  margin: 0;
}
.producto-info p {
  font-size: 14px;
  margin: 0;
}
.product-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(211, 40, 40, 0.7);
  color: #fff;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.carousel-slide:hover .product-description {
  opacity: 1;
  pointer-events: auto;
}
#resenas-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

.resena {
  border: 1px solid #21aeb5;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color:rosybrown;
}

.estrellas {
  color: gold;
}

#formulario-resena {
  margin-top: 20px;
}
/*Puntos de venta*/

#puntosdeventa {
  display: flex;
  justify-content: space-around; /* Otra opción: justify-content: space-between; */
}

.punto-de-venta {
  width: 250px; /* Ajusta según tus necesidades */
  margin: 0 10px; /* Espacio entre los elementos */
  text-align: center;
  background-color: #A6E3B9;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}

.puntos-de-venta-carousel {
  display: flex;
  overflow: hidden;
}

.punto-de-venta img {
  max-width: 70%;
  height: auto;
  border-radius: 8px; /* Esquinas redondeadas para la imagen */
}

.punto-de-venta p {
  margin: 10px 0;
}

.punto-de-venta a {
  text-decoration: none;
  color: #007BFF;
  display:inline;
  align-items: center;
  
}

.punto-de-venta a i {
  margin-right: 5px;
}
#contactenos {
  display: flex;
}

.FormularioContactenos {
  background-color:rgb(186, 151, 215);
  width: 60%; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
}

.RedesSociales {
  background-color:beige;
  width: 40%; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
  text-align: right;
}

.RedesSociales ul {
  list-style-type: none;
  padding: 0;
}

.RedesSociales li {
  margin-bottom: 10px;
}

form {
  display: grid;
  gap: 10px;
}
